body{
    font-family: 'Open Sans', sans-serif;
    background-color: #EAECEF
}

#hachi {
    max-width:30%;
    height:auto;
}

.needspad {
    padding:30px;
}
.logo{
    max-width:10%;
    height:auto;
}

.footer{
    text-align:center;

    padding:-10px;
}