{% extends "ourapp/layout.html" %}

{% block body %}

    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">About the team</h1>
        <p class="col-md-8 fs-4">We are a group of 4 students from 1i3 and 1i4 2022, and this is our project for PW.</p>
    </div>
    
    
        <div class="container-fluid py-5">
            <div aria="hy"> 
                <hr>
                <h2>LOHHAOYUAN </h2>
                <h5><em>Web Development</em></h5>
                <p>Hi. I do web programming. *smiles awkwardly*</p>
                <h5>Certification, Awards and other random stuff:</h6>
                <ul>
                    <li>CS50x, Harvard University's Introduction to Computer Science 
                        
                        (his certificate can be found 
                        <a href="https://courses.edx.org/certificates/b2fbd32a6a254027bcc76d243866b0da">
                            here</a>)</li>
                    <li>Verified Bubble Tea Addict 🧋🧋🧋 </li>
                    <li>Practices 40 Hours a Day</li>
                    <li>1 million social credit</li>
                    <li>SMOPS Platinum</li>
                </ul>
                <h5>Social links:</h5>
                <ul>
                    <li><a href="{% url 'profile' 'LOHHAOYUAN' %}">OurHCI Profile</a></li>
                    <li><a href="https://github.com/LHY-42">Github</a></li>
                    <li><a href="https://discordapp.com/users/lhy#6212">Discord</a></li>

                </ul>
                              
            </div>
            <div aria="zachary"> 
                <hr>
                <h2>ZACHARYCHIAMIN</h2>
                <h5><em>Web Development</em></h5>
                <p></p>
                <h5>Certification, Awards and other random stuff:</h6>
                <ul>
                    
                </ul>
                <h5>Social links:</h5>
                <ul>
                    <li><a href="{% url 'profile' 'ZACHARYCHIAMIN' %}">OurHCI Profile</a></li>
                    <li><a href="https://lichess.org/@/MeBooBoo">Lichess (he's highly likely to trash you)</a></li>
                </ul>
                
            </div>
            <div aria="keving"> 
                <hr>
                <h2>KEVINGTANYONGZHI</h2>
                <h5><em>Design, Paperwork</em></h5>
                <p></p>
                <h5>Certification, Awards and other random stuff:</h6>
                <ul>

                </ul>
                <h5>Social links:</h5>
                <ul>
                    <li><a href="{% url 'profile' 'KEVINTANYONGZHI' %}">OurHCI Profile</a></li>
                </ul>
                
            </div>
            <div aria="marcel"> 
                <hr>
                <h2>MARCELNEOHANSHENG</h2>
                <h5><em>Product Testing, Debugging</em></h5>
                <p></p>
                <h5>Certification, Awards and other random stuff:</h6>
                <ul>
        
                </ul>
                <h5>Social links:</h5>
                <ul>
                    <li><a href="{% url 'profile' 'MARCELNEOHANSHENG' %}">OurHCI Profile</a></li>
                </ul>
                
            </div>
        </div>


    </div>

{% endblock %}