{% extends "ourapp/layout.html" %}

{% block body %}
    <style>
        .content_div {
            width: 80vw;
            border: solid lightgrey 1px;
            border-radius: 5px;
            padding: 20px;
        }

        #id_content {
            width: 85%;
            height: 100px;
            resize: none;
        }
    </style>
    {% if user.banned %}
    <div style="margin-left: 40px;">
        <div class="needspad">
            <p style="color: red;">You are under a ban and cannot post. Please appeal to an admin if you think this is erroneous.</p>
        </div>
    {% else %}
      
        {% if post.user != user %}
            <p style="color: red; font-weight: bold; font-size: 20px;">You cannot edit another user's post.</p>
        {% else %}
            <h2 class="needspad">Editing Post</h2>

            <br>

            <div class="needspad content_div" id="{{user.name_colour}}">
                <a class="navbar-brand" href="/profile/{{user}}" style="font-size: 1.5em; font-weight: bold;">You</a>
                <form id="edit-form" action="" method="post">
                    <fieldset>
                        {% csrf_token %}
                        <div style="width: 90vw">
                            <textarea name="content" id="id_content">{{post_content}}</textarea>
                        </div>
                        <input type="submit" value="Save" class="btn btn-primary" id="edit-submit" onclick="send_verification();">
                    </fieldset>
                </form>
            </div>
        {% endif %}
    {% endif %}
    </div>

    <script>
        document.onkeydown = (event) => {
            if (event.ctrlKey && event.key === 's') {
                event.preventDefault();
                send_verification();
            }
        }

        function send_verification() {
            if (confirm('Are you sure you want to send this post?') == true) {
                document.querySelector("#newform").submit();
            }
            else {
                pass
            }
        }

        var anchor_list = document.querySelectorAll(".navbar-brand");
        for (var i = 0; i < anchor_list.length; i++) {
            anchor_list[i].style.color = anchor_list[i].parentElement.id;
        }
    </script>
{% endblock %}