{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>OurHCI</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="{% static 'ourapp/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <img src="ourhci-logo.png" alt="ourhci logo">
        <h1>OurHCI</h1>
        {% block body %}
        {% endblock %}
    </body>
</html>