{% extends "ourapp/layout.html" %}

{% block body %}



    <div class="jumbotron">
        <h1>
            {{data.username}} ({{data.hciclass}})
            {%for group in user.groups.all %}
                {% if group.name == "Developer" or group.name == "" %}
                    <span class="badge badge-pill badge-success">{{group}}</span>
                {% elif group.name == "Moderator" %}
                    <span class="badge badge-pill badge-info">{{group}}</span>
                {% else %}
                    <span class="badge badge-pill badge-secondary">{{group}}</span>
                {% endif %}
            {% endfor %}

        </h1>
        <h3>Email: <a href="mailto:{{data.email}}">{{data.email}}</a></h3>
    </div>
   
    



{% endblock %}